@import './../../../styles.scss';

.holder {
  gap: 1rem;

  .first {
    color: $base-white;
    background-color: $base-blue;

    .head-icon {
      filter: invert(1);
      opacity: 0.4;
    }
  }

  .normal {
    @extend %dashboard-card;


    h2 {
      color: $base-blue
    }

    h3,
    h4 {
      color: $grey;
    }

    .head-icon {
      opacity: 0.2;
    }
  }

  .top-card {
    height: 100%;
    flex-basis: 25%;
    border-radius: 4px;


    .card {
      &-head-row {

        &-headline {
          font-size: 2.1rem;
          font-weight: 700;
          @extend .font-nunito;

        }

        .head-icon {
          width: 2.8rem;
        }
      }

      &-main-header {
        font-size: 1.3rem;
        font-weight: 600;
        @extend .font-nunito;

      }

      &-description {
        font-size: 0.8rem;
        opacity: 0.9;
        @extend .font-instrument-san;
      }
    }
  }
}
