<div class="left-nav">
  <ul class="menu-list ">

    <li class="hamburger">
      <img src="./assets/icons/ham.svg" class="icon">
    </li>
    <li class="sidenav-item">

      <img src="./assets/icons/cube.svg" class="icon">
    </li>
    <li class="sidenav-item">
      <img src="./assets/icons/bar-chart.svg" class="icon">

    </li>
    <li class="sidenav-item">
      <img src="./assets/icons/file.svg" class="icon">

    </li>
    <li class="sidenav-item">
      <img src="./assets/icons/check.svg" class="icon">

    </li>
    <li class="sidenav-item">
      <img src="./assets/icons/gear.svg" class="icon">

    </li>
    <li class="sidenav-item">
      <img src="./assets/icons/download.svg" class="icon">

    </li>
  </ul>
</div>
