@import './../../../styles.scss';
.left-nav {
  left: 0;
    position: absolute;
    height: 100vh;
    background-color: #ffffff;
    width: 5vw;

  .menu-list {
    list-style-type: none;
    padding-inline-start:0 ;
    margin: 0;
    li{
      @extend .d-flex;
      @extend .justify-content-center;
      height: 4rem;
      &.hamburger{
        background-color: $header-blue;
        margin-bottom: 3rem;
        height: 10vh;
        img{
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}


