@import './../../../styles.scss';


.left-nav {

  height: 100vh;
  background-color: $base-white;
  width: 5rem;

  .menu-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;

    li {
      @extend .d-flex;
      @extend .justify-content-center;
      height: 4rem;

      &.hamburger {
        background-color: $base-blue;
        height: 7.6vh;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
