.main {
  height: calc(100vh - 7.6vh);
  width: 100%;
  padding: 3% 3% 1.5%;
gap:1.4rem;
  .flex-item {
    &-1 {

      flex-basis: 20%;
    }

    &-2 {
      background-color: blue;
      flex-basis: 50%;

    }

    &-3 {
      background-color:green;
      flex-basis: 30%;
    }

  }

}
