<table class="table">
  <tr class="row-holder" *ngFor="let item of newUserList;let i = index;let first = first ">

    <td>
      <div class="profile-image d-flex">
        <img src="./assets/icons/profile.jpg" alt="">
        <span class="status mr-4" [ngClass]="{'online':item.isActive,'offline':!item.isActive}"></span>
        <div class="d-column ">
          <p class="mb-0">{{item.name}}</p>
          <p class="mb-0">{{item.country}}</p>
        </div>
      </div>
    </td>

    <td class="d-flex">
      <div class="dashboard-progress-column ">
        <span class="dashboard-progress-bar" [ngClass]="getBackgroundColorClass(item.progress)" [style.width]="item.progress+'%'">
        </span>
      </div>
      <p>{{item.progress}}%</p>
    </td>

    <td>
      <button class="btn" [ngClass]="{'first':first,'secondary':!first}">More</button>
    </td>

  </tr>

</table>
