@import './../../../styles.scss';


.row-holder {

  .profile-image {
    img {
      object-fit: cover;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 0.8rem;
    }

    .status {
      height: 0.6rem;
      width: 0.6rem;
      border-radius: 50%;
      position: relative;
      top: 1;
      margin-left: -1.4rem;
      margin-top: 1.8rem;
      border: $white solid 1px;
      margin-right: 1rem;

      &.online {
        background-color: $status-green;
      }

      &.offline {
        background-color: $status-blue;
      }
    }

  }

  .d-column {
    @extend .font-instrument-san;

    p:nth-child(2) {
      font-size: 0.8rem;
    }
  }

  .dashboard-progress-column {
    width: 10rem;
    @include progress-bar-style;

    .dashboard-progress-bar {
      height: 5px;
      display: inline-table;
      border-radius: 15%;
    }
  }

  button {
    &.first {

      background-color: $base-blue !important;
      color: $base-white !important;
    }

    &.secondary {
      background-color: $btn-grey !important;
      color: $btn-text-grey !important;
    }

  }
}
