.icon{
  filter: opacity(0.4);
  width: 1.6rem;

}

.font-nunito{
  font-family: 'Nunito', sans-serif;

}

.font-instrument-san{
  font-family: 'Instrument Sans', sans-serif;
}


%dashboard-card {
  background-color: $base-white;
  border-radius: 4px;
}

%caret {
  .caret{
    width: 11px;
    filter: opacity(0.3);
  }
}

@mixin progress-bar-style {

  .excellent {
    background-color: $excellent;
  }

  .best {
    background-color: $best-blue ;
  }

  .above-average {
    background-color: $above-average-magenta;
  }

  .average {
    background-color: $average-green;
  }

  .less-average {
    background-color: $less-average-black;
  }

  .low {
    background-color: $low-orange;
  }

  .very-low {
    background-color: $very-low-red ;
  }

}
