@import './../../../styles.scss';


.holder {
  gap: 0.8rem;
  height: 97%;

  &>* {
    @extend %dashboard-card;
    @extend .h-100;
    @extend .font-nunito;

    h4 {

      font-weight: 600 !important;
    }
  }

  .graph-holder-1 {
    flex-basis: 35%;
  }

  .graph-holder-2 {
    flex-basis: 35%;

  }

  .graph-holder-3 {
    flex-basis: 30%;
  }

}
